<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Document</title>
  </head>
  <body>
    <form>
      <div
        class="g-recaptcha"
        data-sitekey="6Lea9ugUAAAAAGKTqOhL4GkOwPRoFRB_eSZ7fN0u"
        data-callback="getToken"
      ></div>
      <input type="email" id="email" />
      <br />
      <input type="text" id="question" />
      <br />
      <button type="button" onclick="sendQuestion()">Send</button>
    </form>
  </body>
  <script>
    let response;
    async function getToken(gToken) {
      response = gToken;
    }

    async function sendQuestion() {
      const email = document.getElementById("email").value;
      const question = document.getElementById("question").value;

      const data = {
        email,
        question,
        response,
      };

      const resp = await fetch("/questions/new", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
    }
  </script>
</html>
