<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit-icons.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form class="uk-position-center uk-flex-center">
      <div class="uk-margin">
        <div class="uk-inline">
          <span
            class="uk-form-icon uk-form-icon-flip"
            uk-icon="icon: lock"
          ></span>
          <input class="uk-input" type="password" id="password" />
        </div>
        <br />
        <div
          class="g-recaptcha"
          data-sitekey="6Lea9ugUAAAAAGKTqOhL4GkOwPRoFRB_eSZ7fN0u"
        ></div>
        <br />
        <button class="uk-button uk-button-primary uk-margin" onclick="login()">
          Login
        </button>
      </div>
    </form>
  </body>

  <script>
    async function login() {
      const password = document.getElementById("password").value;
      const data = {
        password,
      };

      const response = await fetch("/admin/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      const res = await response.json();
      const token = res.token;

      Cookies.set("Authorization", "Bearer " + token);
      window.location.replace("/admin/dashboard");
    }
  </script>
</html>
