.wow {
  visibility: hidden;
}

.bkg {
  background-color: lightblue;
  background-image: url("../img/bkg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Bellota Text", cursive;
}

main {
  padding: 0 15px;
}

.header {
  font-family: "Bellota", cursive;
  text-align: center;
}

.header-lead {
  font-size: 5em;
  text-align: center;
  color: white;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  margin-top: 30px;
}

.content {
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.2rem;
}


@media (min-width: 768px) and (max-width: 1200px) {
  .header-lead {
    font-size: 3.5em;
  }

  #modalTC > .modal-dialog {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .header-lead {
    font-size: 2em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 360px) {
  .header-lead {
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  main {
    margin: 0px 150px;
  }

  .header-lead {
    margin-bottom: 80px;
    margin-top: 60px;
  }
  #modalTC > .modal-dialog {
    max-width: 80%;
  }
}
