<head>
  <title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{{ .Description }}" />
  <meta name="description" content="Caravana educationala este un proiect prin care prezentam Facultatea de Matematica si Informatica in liceele din toata tara." />
  <meta name="keywords" content="caravana,ASMI,FMI,educatie,promovare" />
  <meta name="author" content="Asociația Studenților la Matematică și Informatică" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:url" content="https://caravana.asmi.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Caravana Educationala" />
    <meta property="og:description" content="Caravana educationala este un proiect prin care prezentam Facultatea de Matematica si Informatica in liceele din toata tara." />
    <meta property="og:image" content="http://cariere.as-mi.ro/images/logos/cariere.png" />

  <link rel="canonical" href="{{ .Permalink }}" />

  <!-- Site style -->
  <link type="text/css" rel="stylesheet" href="{{ `css/main.css` | absURL }}" />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />

  <!-- Font Awesome-->
  <link
    href="https://fonts.googleapis.com/css?family=Bellota+Text|Bellota:700&display=swap"
    rel="stylesheet"
  />

  <!-- Animate CSS-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU="
    crossorigin="anonymous"
  />

  <!-- WowJS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <!-- Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
    defer
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
    defer
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
    defer
  ></script>
  <script
    src="https://kit.fontawesome.com/8f2dcd945c.js"
    crossorigin="anonymous"
  ></script>

  <!-- reCaptcha v2 -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- Question send JS -->
  <script src="{{ `js/question.js` | absURL }}"></script>
</head>
