<!-- navbar -->
<nav
  class="wow slideInDown navbar sticky-top navbar-expand-lg navbar-light bg-light"
>
  <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}"
    ><img src="{{ `img/brand.png` | absURL }}" width="60" height="35" alt="Caravana Edu" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class='nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
          <a class="nav-link" href="{{ .URL | absURL }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn my-2 my-sm-0" href="https://www.facebook.com/asmi.ub" target="_blank">
        <i class="fab fa-2x fa-facebook"></i>
      </a>
      <a class="btn my-2 my-sm-0" href="https://www.instagram.com/asmi.ub" target="_blank">
        <i class="fab fa-2x fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
